.prose .anchor {
    @apply absolute invisible no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.prose .anchor:after {
    @apply text-gray-400 dark:text-gray-600;
    content: '#';
}

.prose *:hover>.anchor {
    @apply visible;
}